// Заголовки, общие БЄМ блоки и проче...
// ============================================================================================================================================================================================================================================================================================================================================================================================
section {
    margin-bottom: rem(100);
}
// ============================================================================================================================================================================================================================================================================================================================================================================================
h1 {
	font-weight: 700;
	font-size: rem(48);
	line-height: math.div(59, 48);
    span {
        color: $blue;
    }
    @media (max-width:$laptop){
          font-size: rem(38);
    }
}
h2 {
    font-weight: 700;
    font-size: rem(32);
    line-height: math.div(40, 32);
    @media (max-width:$mobileSmall){
         font-size: rem(28); 
    }
}
h3 {
    font-weight: 600;
    font-size: rem(16);
    line-height: math.div(20 , 16);
    color: $black;
}
// ============================================================================================================================================================================================================================================================================================================================================================================================
.button {
    display: inline-block;
	font-weight: 800;
	font-size: rem(24);
    line-height: math.div(29 , 24);
	color: $white;
    padding: rem(25) rem(40);
    border-radius: rem(20);

    @media (max-width:$laptop){
        font-size: rem(20);
    }

    background-size: 250% auto;
    background-image: linear-gradient(to right,#0A2C79 0,#1346BA 40%,#1346BA 60%,#0A2C79 100%);
    transition: background-position $transition-time;
    @media (any-hover: hover){
        &:hover{
            background-position: right center;
        }
    }
}
// ============================================================================================================================================================================================================================================================================================================================================================================================
.work-button-prev, .work-button-next,
.reviews-button-prev, .reviews-button-next {
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(35);
    height: rem(35);
    border-radius: rem(100);
    box-shadow: rem(0) rem(5) rem(20) rgba(0, 0, 0, 0.13);

    background-size: auto 250%;
    background-image: linear-gradient(180deg,#0A2C79 0,#1346BA 40%,#1346BA 60%,#0A2C79 100%);
    transition: background-position $transition-time;
    @media (any-hover: hover){
        &:hover{
            background-position: center bottom;
        }
    }
}
.work-button-next,
.reviews-button-next {
    img {
        transform: rotate(180deg);
    }
}
.swiper-button-disabled {
    opacity: .7;
    cursor: default;
    @media (any-hover: hover){
        &:hover{
            background-position: center top;
        }
    }
}
// ============================================================================================================================================================================================================================================================================================================================================================================================

.form {
    &:not(:first-child) {
        margin-top: rem(20);
    }

    &__label {
        display: block;
        font-weight: 800;
        line-height: math.div(20 , 16);
        margin-bottom: rem(5);
        span {
            color: #FF2222;
        }
    }

    &__group {
    }

    &__group--phone, &__group--user {
        position: relative;
        &::before{
            content:'';
            position: absolute;
            top: 50%;
            right: rem(20);
            width: rem(30);
            height: rem(30);
            transform: translate(0, -50%);
            pointer-events: none;
        }
    }

    &__group--phone {
        &::before{
            background: url("@img/common/input-phone.png") 0 0/contain no-repeat;
        }
    }

    &__group--user {
        &::before{
            background: url("@img/common/input-user.png") 0 0/contain no-repeat;
        }
    }

    &__input {
        padding: rem(20);
        border-radius: rem(10);
        border: rem(1) solid #C9C9C9;
        width: 100%;
        transition: border $transition-time;
        &::placeholder {
            color: #C9C9C9;
        }
        &:focus {
            outline: none;
            border: rem(1) solid $blue;
        }
    }
}

// ============================================================================================================================================================================================================================================================================================================================================================================================
.map {
	width: 100%;
	height: 100%;
}
[class*="ground-pane"] {
	filter: grayscale(1);
	-ms-filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
}
// ============================================================================================================================================================================================================================================================================================================================================================================================
.sotials_tg,
.sotials_wa,
.sotials_ig {
    display: inline-block;
}
// ============================================================================================================================================================================================================================================================================================================================================================================================
::-webkit-scrollbar {
    width: rem(13);
    height: rem(13);
    background: $white;
}
::-webkit-scrollbar-thumb {
    border: rem(3) solid $white;
    border-radius: rem(100);
    background: linear-gradient(180deg, #003976 0%, #346CEC 81.25%);
}
// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================