.footer {

    &__head {
        position: relative;
        &-wrapper {
            display: grid;
            grid-template-columns: rem(710) auto;
            padding: rem(80) rem(0);
            @media (max-width:$tablet){
                grid-template-columns: rem(400) auto;
            }
            @media (max-width:$mobileSmall){
                grid-template-columns: auto; 
            }
        }
    }

    &__head-body {
        position: relative;
        z-index: 5;
        padding: rem(30) rem(50);
        background-color: $white;
        border-radius: rem(20);
        display: flex;
        flex-direction: column;
        gap: rem(10);
        @media (max-width:$mobileSmall){
            padding: rem(30) rem(18);
        }
    }

    &__head-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: rem(15);
        @media (max-width:$tablet){
            grid-template-columns: 1fr;
            gap: rem(40);
        }
    }

    &__head-block {
    }

    &__head-block-title {
        font-weight: 600;
        line-height: math.div(20 , 16);
        color: $black;
        margin-bottom: rem(20);
        p:not(:first-child) {
            margin-top: rem(10);
        }
        &.title_blue {
            color: $blue;
        }
    }

    &__head-block-list {
    }

    &__head-block-item {
        font-weight: 600;
        line-height: math.div(20 , 16);
        display: flex;
        align-items: center;
        gap: rem(10);
        &:not(:last-child) {
            margin-bottom: rem(10);
        }
        a {
            @media (any-hover: hover){
                transition: color $transition-time;
                &:hover{
                    color: $blue;
                }
            }
        }
    }

    &__head-block-item-icon {
    }

    &__head-block-item-text {
        width: 100%;
        display: flex;
        align-items: center;
        b {
            flex: 1 1 auto;
            color: $black;
        }
    }

    &__head-sotials {
        align-self: center;
        display: flex;
        align-items: center;
        gap: rem(25);
    }

    &__head-sotial {
    }

    &__head-map {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }

    &__foot {
        background-color: $blue;
        color: $white;
        padding: rem(25) 0;

        .footer__container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media (max-width:$mobileSmall){
                 flex-direction: column;
                 gap: rem(20); 
            }
        }
    }

    &__foot-copy {
        display: flex;
        align-items: center;
        gap: rem(5);
    }

    &__foot-creater {
        display: flex;
        align-items: center;
        gap: rem(5);
        a {
            @media (any-hover: hover){
                transition: color $transition-time;
                &:hover{
                    color: rgba($white, .7);
                }
            }
        }
    }
}
.map {
}

//====================================================================================================

//====================================================================================================
